<mat-card *ngIf="errorStatus" class="errorStatus">
  <mat-card-title>{{ errorStatus }}</mat-card-title>
  <mat-card-subtitle>{{ errorMessage }}</mat-card-subtitle>
</mat-card>
<div class="mat-body-1">
  Name: <span class="mat-body-2">{{ displayName | async }}</span> <br />
  Total Time in Destiny 2: <span class="mat-body-2">{{ minutesPlayedTotal | async | hoursPlayed }}</span> =
  <span class="mat-body-2">{{ minutesPlayedTotal | async | parseMinutesPlayed }}</span> <br />
  Total Time in Activities: <span class="mat-body-2">{{ activities | activitiesTotalHours }}</span> =
  <span class="mat-body-2">{{ activities | activitiesTotalTime }}</span> <br />
  Destiny 2 Activity Count: <span class="mat-body-2">{{ activities.length }}</span>
  <mat-icon *ngIf="loadingArray | loadingReduce" aria-label="Search for Guardian" class="spinner">refresh</mat-icon>
  <br />
  Current Streak: {{ flatDays | currentStreak }}<br />
  Longest Streaks: {{ flatDays | longestStreaks }}<br />
  Filter Heatmap:
  <mat-form-field>
    <mat-select [(ngModel)]="calendarFilter">
      <mat-option *ngFor="let option of modeOptions" [value]="option">{{ option | manifest: 'activityMode' | async }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div *ngFor="let year of yearKeys" class="calYear">
  <div class="yearLabel mat-caption">
    <span>{{ year }}</span>
  </div>
  <div *ngFor="let month of monthKeys[year]" class="calMonth"
    [ngStyle]="{ width: Math.ceil((dayKeys[year][month].length + monthOffsets[year][month]) / 7) + 'em' }">
    <div class="monthLabel mat-caption">{{ month }}</div>
    <div class="dayWrapper" [ngClass]="(loadingArray | loadingReduce) ? 'loading' : ''">
      <div class="monthSpacer" [ngStyle]="{ height: monthOffsets[year][month] + 'em' }"></div>
      <div *ngFor="let day of dayKeys[year][month]" class="calDay"
        [ngClass]="[(year + '-' + month + '-' + day | milestone: 'class'), ((days[year][month][day] | addTime: calendarFilter) > 0 ? 'active' : 'inactive'), (year + '-' + month + '-' + day | milestone: 'icon')]"
        (click)="openDay(year + '-' + (month < 10 ? '0' : '') + month + '-' + (day < 10 ? '0' : '') + day, days[year][month][day])"
        [ngStyle]="{
          'background-color':
            'hsl(' +
            (((100 - (days[year][month][day] | addTime: calendarFilter) / 864) * 120) / 50 - 120) +
            ', ' +
            ((days[year][month][day] | addTime: calendarFilter) > 0 ? '100%' : '0%') +
            ', ' +
            ((days[year][month][day] | addTime: calendarFilter) > 0
              ? (days[year][month][day] | addTime: calendarFilter) / 864 > 50
                ? 100 - (days[year][month][day] | addTime) / 864 + '%'
                : '50%'
              : '90%') +
            ')'
        }" [matTooltip]="
          year +
          '-' +
          month +
          '-' +
          day +
          (year + '-' + month + '-' + day | milestone: 'text') +
          ': ' +
          Math.floor(((days[year][month][day] | addTime: calendarFilter) / 86400) * 24) +
          'h ' +
          Math.floor(((days[year][month][day] | addTime: calendarFilter) % 3600) / 60) +
          'm'
        " matTooltipPosition="after"></div>
    </div>
  </div>
</div>
<h3 class="trends-header">Trends</h3>
<mat-icon class="trending_loading" *ngIf="loadingArray | loadingReduce">refresh</mat-icon>
<div class="trends" *ngIf="!(loadingArray | loadingReduce)">

  <div class="trend">
    <mat-icon class="trend-up"
      *ngIf="!(loadingArray | loadingReduce) && getOverallTrend().ninety > getOverallTrend().threeSixtyFive">
      trending_up
    </mat-icon>
    <mat-icon class="trend-flat"
      *ngIf="!(loadingArray | loadingReduce) && getOverallTrend().ninety === getOverallTrend().threeSixtyFive">
      trending_flat
    </mat-icon>
    <mat-icon class="trend-down"
      *ngIf="!(loadingArray | loadingReduce) && getOverallTrend().ninety < getOverallTrend().threeSixtyFive">
      trending_down
    </mat-icon>
    <div class="trend-main">
      <div class="trend-header">
        <div class="trend-name">Overall</div>
      </div>
      <div class="trend-values">
        <div class="trend-ninety">
          <div class="trend-value">{{ getOverallTrend().ninety > 60 ? Math.floor(getOverallTrend().ninety /
            60) + 'h' +
            getOverallTrend().ninety % 60 :
            getOverallTrend().ninety }}m/week</div>
          <div class="trend-time">13 week avg</div>
        </div>
        <div class="trend-three-sixty-five">
          <div class="trend-value">{{ getOverallTrend().threeSixtyFive > 60 ?
            Math.floor(getOverallTrend().threeSixtyFive
            /
            60) + 'h' +
            getOverallTrend().threeSixtyFive % 60 :
            getOverallTrend().threeSixtyFive }}m/week</div>
          <div class="trend-time">52 week avg</div>
        </div>
      </div>
    </div>
  </div>
  <ng-container *ngFor="let trend of getModeTrends()">
    <div *ngIf="trend.ninety > 0 || trend.threeSixtyFive > 0" class="trend">
      <mat-icon class="trend-up" *ngIf="trend.ninety > trend.threeSixtyFive">
        trending_up
      </mat-icon>
      <mat-icon class="trend-flat" *ngIf="trend.ninety === trend.threeSixtyFive">
        trending_flat
      </mat-icon>
      <mat-icon class="trend-down" *ngIf="trend.ninety < trend.threeSixtyFive">
        trending_down
      </mat-icon>
      <div class="trend-main">
        <div class="trend-header">
          <img class="trend-icon" [src]="trend.mode | manifest: 'activityModeIcon' | async"
            [alt]="trend.mode | manifest: 'activityMode' | async">
          <div class="trend-name">{{trend.mode | manifest: 'activityMode' | async}}</div>
        </div>
        <div class="trend-values">
          <div class="trend-ninety">
            <div class="trend-value">{{ trend.ninety > 60 ? Math.floor(trend.ninety / 60) + 'h' + trend.ninety % 60
              :
              trend.ninety }}m/week</div>
            <div class="trend-time">13 week avg</div>
          </div>
          <div class="trend-three-sixty-five">
            <div class="trend-value">{{ trend.threeSixtyFive > 60 ? Math.floor(trend.threeSixtyFive / 60) + 'h' +
              trend.threeSixtyFive % 60 :
              trend.threeSixtyFive }}m/week</div>
            <div class="trend-time">52 week avg</div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
