<div class="row align-middle">
  <div class="columns small-12 ad">
    <ng2-adsense></ng2-adsense>
  </div>
  <div class="small-12 columns">
    <form class="row search-form" (ngSubmit)="search()">
      <div class="small-12 columns input-group search-bar">
        <input [(ngModel)]="searchString" name="searchString" text="quick-links" class="input-group-field search-box" type="search" placeholder="Guardian" autofocus="true">
        <div class="input-group-button">
          <button type="submit" class="button search-button">Go</button>
        </div>
      </div>
    </form>
  </div>
</div>