<span class="mat-headline headline">Destiny 2 Historical Heatmap</span>
<a mat-raised-button class="switch-game" href="https://chrisfried.github.io/secret-scrubland/">Switch to Destiny 1</a>
<form class="search-form" (ngSubmit)="search()">
  <div class="search-bar">
    <mat-form-field>
      <input matInput [(ngModel)]="searchString" name="searchString" text="quick-links" class=" search-box" type="search" placeholder="Guardian" autofocus="true">
    </mat-form-field>
    <button mat-icon-button color="primary" type="submit" class="button search-button">
      <mat-icon aria-label="Search for Guardian">search</mat-icon>
    </button>
  </div>
</form>