.switch-game {
  margin-bottom: 1em;
}
.headline {
  margin-right: 1em;
}

@media (prefers-color-scheme: dark) {
  #logout,
  .mat-button-toggle,
  .switch-game {
    background-color: #444;
    color: white;
  }

  .mat-button-toggle-checked {
    background-color: #555;
  }
}
