<span class="mat-headline headline">Destiny 2 Historical Heatmap</span>
<a mat-raised-button class="switch-game" href="https://chrisfried.github.io/secret-scrubland/">Switch to Destiny 1</a>
<div style="margin-bottom: 1em">
  <button *ngIf="(bungieAuth.hasValidAccessToken$ | async) === false" mat-raised-button color="primary" class="button"
    (click)="login()">
    Login with Bungie <mat-icon aria-label="Login with Bungie">login</mat-icon>
  </button>
  <button *ngIf="bungieAuth.hasValidAccessToken$ | async" mat-raised-button class="button" (click)="logout()">
    Logout <mat-icon aria-label="Logout">logout</mat-icon>
  </button>
</div>
<div class="mat-body-1">
  Calendar Type:<br />
  <mat-button-toggle-group name="calendar" aria-label="Calendar">
    <mat-button-toggle value="gregorian" (click)="calendarChange.emit('gregorian')">Gregorian</mat-button-toggle>
    <mat-button-toggle value="bungie" (click)="calendarChange.emit('bungie')">Bungie</mat-button-toggle>
  </mat-button-toggle-group>
</div><br />
