<h2 mat-dialog-title>{{data.date}}</h2>
<mat-dialog-content>
  <div class="timelineBase">
    <div *ngFor="let hour of ['12am', '1am', '2am', '3am', '4am', '5am', 
                           '6am', '7am', '8am', '9am', '10am', '11am',
                           '12pm', '1pm', '2pm', '3pm', '4pm', '5pm', 
                           '6pm', '7pm', '8pm', '9pm', '10pm', '11pm']; let i = index"
      class="timelineLabels"
      [ngStyle]="{
        'top': 60 * i + 'px'
      }">
      <span class="time mat-caption">{{ hour }}</span>
    </div>
    <div *ngFor="let activity of data.activities"
      class="timelineActivity"
      [ngClass]="'mode-' + activity.activityDetails.mode"
      [ngStyle]="{
        'height': Math.floor((activity.values.activityDurationSeconds.basic.value - activity.values.leaveRemainingSeconds.basic.value) / 60) + 'px',
        'top': getOffset(activity) + 'px'
      }"
      [matTooltip]="(activity.activityDetails.mode | destinyHash:'activityMode') + ' | ' + (activity.activityDetails.referenceId | destinyHash:'activityName')"
      matTooltipPosition="after"></div>      
  </div>
</mat-dialog-content>