.timelineBase {
  width: 100px;
  height: 1441px;
  display: block;
  position: relative;
  background-color: rgb(230, 230, 230);
}
.timelineActivity {
  display: block;
  width: 100px;
  position: absolute;
  background-color: rgb(50, 50, 150)
}