<h2 mat-dialog-title>
  {{
    data.date +
      (data.date | milestone: 'text') +
      ': ' +
      Math.floor(((data.activities | addTime: '0') / 86400) * 24) +
      'h ' +
      Math.floor(((data.activities | addTime: '0') % 3600) / 60) +
      'm'
  }}
</h2>
<mat-dialog-content>
  <div
    class="timelineBase"
    [ngStyle]="{
      height: modalHeight + 'px'
    }"
  >
    <div
      *ngFor="let hour of gameHourKeys"
      class="timelineLabels"
      [ngStyle]="{
        top: gameHours[hour].offset + 'px'
      }"
    >
      <span class="time mat-caption">{{ gameHours[hour].display }}</span>
    </div>
    <a
      *ngFor="let activity of data.activities"
      class="timelineActivity"
      [ngClass]="'mode-' + activity.activityDetails.mode"
      [ngStyle]="{
        height: (Math.floor(activity.values.timePlayedSeconds.basic.value / 60) || 1) + 'px',
        top: activity.offset + 'px'
      }"
      [matTooltip]="
        (activity.activityDetails.mode | manifest: 'activityMode' | async) +
        ' | ' +
        (activity.activityDetails.referenceId | manifest: 'activityName' | async)
      "
      matTooltipPosition="after"
      target="_blank"
      [href]="'https://www.bungie.net/en/PGCR/' + activity.activityDetails.instanceId + '?character=' + activity.characterId"
    ></a>
  </div>
</mat-dialog-content>
