.timelineBase {
  width: 59px;
  height: 1441px;
  display: block;
  position: relative;
  background-color: rgb(230, 230, 230);
  margin-left: 3em;
}
.timelineLabels {
  display: block;
  position: absolute;
  height: 60px;
  width: 60px;
  border-bottom: solid 1px white;

  .time {
    margin-left: -3.5em;
    width: 3em;
    display: block;
    text-align: right;
  }
}
.timelineActivity {
  display: block;
  width: 60px;
  position: absolute;
  left: .5em;
  background-color: rgb(50, 50, 150)
}
// Trials
.mode-42, .mode-39, .mode-41 {
  background-color: #00DED1;
}
// Crucible
.mode-31, .mode-5, .mode-38, .mode-12, .mode-37, .mode-10 {
  background-color: #CA1C1B;
}
// Iron Banner
.mode-45, .mode-44, .mode-43, .mode-19 {
  background-color: #485537;
}
// Strikes
.mode-3, .mode-18 {
  background-color: #3D526F;
}
// Nightfall
.mode-17, .mode-16 {
  background-color: #1F3043;
}
// Story
.mode-2 {
  background-color: #ED8129;
}
// Social
.mode-40 {
  background-color: white;
}
// Patrol
.mode-6 {
  background-color: #CACACA;
}
// Raid
.mode-4 {
  background-color: #461044;
}
// Gambit
.mode-63 {
  background-color: #2B8E69;
}