.calYear {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1em;
}

.calMonth {
  display: flex;
  flex-direction: column;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}

.dayWrapper {
  display: flex;
  flex-direction: column;
  height: 7em;
  flex-wrap: wrap;
}

.calDay {
  display: block;
  width: 1em;
  height: 1em;
  box-sizing: border-box;
  cursor: pointer;
  transition: transform 0.2s;
  background-position: center;
  background-size: 16px;

  &:hover.icon {
    transform: scale(1.5);
    z-index: 999;
    box-shadow: 0 0 8px 3px #696969;
    opacity: 1;
  }

  &:before {
    content: ' ';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: invert(1);
    display: block;
    -webkit-mask-size: contain;
    mask-size: contain;
  }

  &.red-war:before {
    -webkit-mask-image: url('../../assets/icons/red-war.png');
    mask-image: url('../../assets/icons/red-war.png');
    background-color: inherit;
  }

  &.curse-of-osiris:before {
    -webkit-mask-image: url('../../assets/icons/curse-of-osiris.png');
    mask-image: url('../../assets/icons/curse-of-osiris.png');
    background-color: inherit;
  }

  &.dawning:before {
    -webkit-mask-image: url('../../assets/icons/dawning.png');
    mask-image: url('../../assets/icons/dawning.png');
    background-color: inherit;
  }

  &.crimson-days:before {
    -webkit-mask-image: url('../../assets/icons/crimson-days.png');
    mask-image: url('../../assets/icons/crimson-days.png');
    background-color: inherit;
  }

  &.warmind:before {
    -webkit-mask-image: url('../../assets/icons/warmind.png');
    mask-image: url('../../assets/icons/warmind.png');
    background-color: inherit;
  }

  &.moments-of-triumph:before {
    -webkit-mask-image: url('../../assets/icons/moments-of-triumph.png');
    mask-image: url('../../assets/icons/moments-of-triumph.png');
    background-color: inherit;
  }

  &.solstice:before {
    -webkit-mask-image: url('../../assets/icons/solstice.png');
    mask-image: url('../../assets/icons/solstice.png');
    background-color: inherit;
  }

  &.forsaken:before {
    -webkit-mask-image: url('../../assets/icons/forsaken.png');
    mask-image: url('../../assets/icons/forsaken.png');
    background-color: inherit;
  }

  &.festival-of-the-lost:before {
    -webkit-mask-image: url('../../assets/icons/festival-of-the-lost.png');
    mask-image: url('../../assets/icons/festival-of-the-lost.png');
    background-color: inherit;
  }

  &.season-of-the-forge:before {
    -webkit-mask-image: url('../../assets/icons/season-of-the-forge.png');
    mask-image: url('../../assets/icons/season-of-the-forge.png');
    background-color: inherit;
  }

  &.season-of-the-drifter:before {
    -webkit-mask-image: url('../../assets/icons/season-of-the-drifter.png');
    mask-image: url('../../assets/icons/season-of-the-drifter.png');
    background-color: inherit;
  }

  &.revelry:before {
    -webkit-mask-image: url('../../assets/icons/revelry.png');
    mask-image: url('../../assets/icons/revelry.png');
    background-color: inherit;
  }

  &.season-of-opulence:before {
    -webkit-mask-image: url('../../assets/icons/season-of-opulence.png');
    mask-image: url('../../assets/icons/season-of-opulence.png');
    background-color: inherit;
  }

  &.shadowkeep:before {
    -webkit-mask-image: url('../../assets/icons/shadowkeep.png');
    mask-image: url('../../assets/icons/shadowkeep.png');
    background-color: inherit;
  }

  &.season-of-the-undying:before {
    -webkit-mask-image: url('../../assets/icons/season-of-the-undying.png');
    mask-image: url('../../assets/icons/season-of-the-undying.png');
    background-color: inherit;
  }

  &.season-of-dawn:before {
    -webkit-mask-image: url('../../assets/icons/season-of-dawn.png');
    mask-image: url('../../assets/icons/season-of-dawn.png');
    background-color: inherit;
  }

  &.season-of-the-worthy:before {
    -webkit-mask-image: url('../../assets/icons/season-of-the-worthy.png');
    mask-image: url('../../assets/icons/season-of-the-worthy.png');
    background-color: inherit;
  }

  &.guardian-games:before {
    -webkit-mask-image: url('../../assets/icons/guardian-games.png');
    mask-image: url('../../assets/icons/guardian-games.png');
    background-color: inherit;
  }

  &.season-of-arrivals:before {
    -webkit-mask-image: url('../../assets/icons/season-of-arrivals.png');
    mask-image: url('../../assets/icons/season-of-arrivals.png');
    background-color: inherit;
  }

  &.beyond-light:before {
    -webkit-mask-image: url('../../assets/icons/beyond-light.png');
    mask-image: url('../../assets/icons/beyond-light.png');
    background-color: inherit;
  }

  &.season-of-the-hunt:before {
    -webkit-mask-image: url('../../assets/icons/season-of-the-hunt.png');
    mask-image: url('../../assets/icons/season-of-the-hunt.png');
    background-color: inherit;
  }

  &.season-of-the-chosen:before {
    -webkit-mask-image: url('../../assets/icons/season-of-the-chosen.png');
    mask-image: url('../../assets/icons/season-of-the-chosen.png');
    background-color: inherit;
  }

  &.season-of-the-splicer:before {
    -webkit-mask-image: url('../../assets/icons/season-of-the-splicer.png');
    mask-image: url('../../assets/icons/season-of-the-splicer.png');
    background-color: inherit;
  }

  &.season-of-the-lost:before {
    -webkit-mask-image: url('../../assets/icons/season-of-the-lost.png');
    mask-image: url('../../assets/icons/season-of-the-lost.png');
    background-color: inherit;
  }

  &.thirtieth-anniversary:before {
    -webkit-mask-image: url('../../assets/icons/thirtieth-anniversary.png');
    mask-image: url('../../assets/icons/thirtieth-anniversary.png');
    background-color: inherit;
  }

  &.witch-queen:before {
    -webkit-mask-image: url('../../assets/icons/witch-queen.png');
    mask-image: url('../../assets/icons/witch-queen.png');
    background-color: inherit;
  }

  &.season-of-the-haunted:before {
    -webkit-mask-image: url('../../assets/icons/season-of-the-haunted.png');
    mask-image: url('../../assets/icons/season-of-the-haunted.png');
    background-color: inherit;
  }

  &.iron-banner:before {
    -webkit-mask-image: url('../../assets/icons/iron-banner.png');
    mask-image: url('../../assets/icons/iron-banner.png');
    background-color: inherit;
  }

  &.solstice2022:before {
    -webkit-mask-image: url('../../assets/icons/solstice2022.png');
    mask-image: url('../../assets/icons/solstice2022.png');
    background-color: inherit;
  }

  &.raid:before {
    -webkit-mask-image: url('../../assets/icons/raid.png');
    mask-image: url('../../assets/icons/raid.png');
    background-color: inherit;
  }
}

@media (prefers-reduced-motion) {
  .calDay {
    transition: none;

    &:hover {
      transform: none;
      box-shadow: none;
      background-image: none;
    }
  }
}

.loading > .calDay {
  cursor: progress;
}

.yearLabel {
  display: flex;
  align-items: center;
}

.yearLabel span {
  display: block;
  transform: rotate(-90deg);
}

.monthSpacer {
  width: 1em;
}

.monthLabel {
  min-width: 13em;
  text-align: center;
}

.downloadButtons {
  min-width: 12em;
}

.release {
  border: solid 2px white;

  &:before {
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    margin: -2px;
  }
}

.raid,
.event {
  border: solid 1px white;

  &:before {
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    margin: -1px;
  }
}

@media (prefers-color-scheme: dark) {
  .release,
  .raid,
  .event {
    border-color: #333;
  }

  .inactive {
    opacity: 0.15;
  }
}

.spinner {
  -webkit-animation: spin 3s infinite linear;
  animation: spin 3s infinite linear;
  height: 1em;
  width: 1em;
  display: inline-block;
  line-height: 1em;
  font-size: 0.75em;
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spinX {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.errorStatus {
  margin-bottom: 0.5em;
}
